/* styles.css for odin-recipes Project: Recipes webpage*/

/* Type Selectors */

h1 {
    color: orangered;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

body {
    background: wheat;
}

/* Class Selectors (single class) */

.recipe {
    font-size: 25px;
}

.header {
    font-weight: bold;
    font-size: 36px;
}

.image {
    display: block;
    margin: 0 auto;
    padding: 8px;
}

.description {
    color: black;
    font-size: 20px;
}

.blank-background {
    background-color: lightyellow;
    padding: 8px;
    border: 4px black;
}

/* ID Selectors */

#home-link {
    font-weight: bold;
    font-size: 30px;
}

/* Descendant Combinators */

.ingredient-list li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 500;
}

.directions li {
    font-size: 18px;
}

